PORT=5001
MONGODB_URI=mongodb+srv://cluster0.lmpu96b.mongodb.net/KinBech?retryWrites=true&w=majority&appName=Cluster0
MONGODB_USER=<db_username>
MONGODB_PASSWORD=<db_password>
MONGODB_DB_NAME=KinBech
JWT_SECRET=change-this-to-a-long-random-secret
JWT_EXPIRES_IN=7d
OTP_EXPIRES_MINUTES=5
DEFAULT_OTP=1111
NODE_ENV=development
CLIENT_ORIGIN=*

# Uncomment to use local MongoDB instead of Atlas:
# MONGODB_LOCAL_URI=mongodb://localhost:27017/KinBech
